.container {
  margin-top: 150px;
}

.title {
  font-size: var(--display-md);
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  font-size: var(--text-xl);
  color: var(--clr-gray-500);
}

.form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.name_wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cta {
  background-color: var(--clr-primary);
  height: 48px;
  border-radius: 8px;
  color: white;
  border: none;
}
