.Layout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: min(90%, 900px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
