.Footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--clr-gray-200);
}

.zuri {
  width: 180px;
}

.label {
  color: var(--clr-gray-500);
}

.i4g {
  width: 140px;
}
